<section data-bs-version="5.1" class="header2 cid-tzVgfOnXBf mbr-parallax-background" id="header2-0">




    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(255, 255, 255);"></div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-7">
                <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1"><strong>Blog-IFRO</strong></h1>

                <p class="mbr-text mbr-fonts-style display-7">Click any text to edit or style it. Select text to insert a link. Click the blue "Gear" icon at the top right corner to hide/show buttons, text, title, and change the block background. Click the red "+" button at the bottom right corner to add a new block. Use the top left menu to create new pages, sites, and add new themes and extensions.</p>

            </div>
        </div>
    </div>
</section>

